Flask==3.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.5
Werkzeug==3.0.1
Jinja2==3.1.2
WTForms==3.1.1
Pillow==10.1.0
SQLAlchemy==2.0.42
alembic==1.16.4
bcrypt==4.3.0
blinker==1.7.0
psycopg2-binary==2.9.7
python-dotenv==1.1.1
gunicorn==21.2.0
email_validator==2.2.0